@model MySportsStore.Model.Product

<div class="item">
    <h3>@Model.Name</h3>
    @Model.Description
    
   @using (Html.BeginForm("AddToCart", "Cart"))
   {
       @Html.HiddenFor(p => p.Id)
       @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
       <input type="submit" value="+放入购物车"/>
   }

    <h4>@Model.Price.ToString("c")</h4>
</div>

